<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
 <style>
      *{padding:0;
      margin:0;
      overflow:hidden;
        font-family: 'Libre Baskerville', serif;
      }
      #con{
        border-radius:10px solid;
        outline: none;
        border: none;
        padding:7px;
       }
       .h4{
        color:mintcream;
        font-weight: bolder;
        letter-spacing: 1.3px;
       }
      #con a{
        color:darkgray;
        text-transform: capitalize;
letter-spacing: 2px;
        font-size: 15px;
        font-weight: bolder;
        letter-spacing: 1px;
        text-decoration: none;
      }
      .wrapper{
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
     background: #FC354C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ABFBC, #FC354C);
{{!-- //background: #C04848;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ --}}

}
        .checkmark__circle{
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          stroke-width: 2;stroke-miterlimit: 10;
          stroke: #7ac142;fill: none;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards}
        .checkmark{
          width: 90px;
          height: 90px;
          border-radius: 50%;
          display: block;
          stroke-width: 2;
          stroke: #fff;
          stroke-miterlimit: 10;
          margin: 10% auto;
          box-shadow: inset 0px 0px 0px #7ac142;
          animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both}
          .checkmark__check{
            transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
            animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
            }@keyframes stroke{100%{stroke-dashoffset: 0}}
            @keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}
            @keyframes fill{100%{box-shadow: inset 0px 0px 0px 60px #7ac142}} 
</style>
</head>
<body>
  <div class="wrapper"> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>
  <div class="h4">Successfully Login..</div><br>
<div class="d-grid gap-2">
 <button id="con" type="button" class="btn btn-outline-dark btn-lg  text-secondary ">
    <a href="/profile" >
      Continue</a>
 </button>
 </div>
</body>
</html>
{{!-- 482121 --}}